body{
	margin: 0 auto;
	font-size: 20px;
}
#image img{
	height: 180px;
	width: auto;
}
#image{
	width: 800px;
	position: relative;
}
.boy{
	top: 0px;
	left: 0px;
	position: absolute;
}
.girl{
	top: 0px;
	right: 0px;
	position: absolute;
}
#flower{
	height: 50px;
	width: 50px;
	top: 40px;
	left: 350px;
	position: absolute;
	z-index: 9999;
}
#flower > img{
	height: 50px;
	width: 50px;
}
#button{
	float: left;
	margin:200px 550px;
}
input{
	height: 25px;
	width: 70px;
	border: 1px solid black;
	text-indent: 5px;
	padding: 3px 0;
	color: green;
	font-weight: bold;
}